// Mixins in here

//use code from Codepen example fo Button if necessary

.spacing(@p, @m) {
	padding: @p;
	margin: @m;
}

.flex-layout(@justify, @align) {
	display: flex;
	justify-content: @justify;
	align-items: @align;
}
