// Navigation Styles here
header {
	.flex-layout(space-between, none);
	border-bottom: 2px dashed @navigation-border;
	max-width: 800px;

	div {
		.flex-layout(space-between, none);
		width: 50%;
		.spacing(2%, 1%);
	}

	nav {
		.flex-layout(space-between, none);
		width: 50%;
		.spacing(2%, 1%);
		font-size: 2rem;

		a {
			text-decoration: none;
			color: @shark;
		}
	}
}
