// Navigation Styles here
header {
	display: flex;
	justify-content: space-between;

	div {
		display: flex;
		justify-content: space-between;
		width: 50%;
		padding: 2%;
		margin: 1%;
	}

	nav {
		display: flex;
		justify-content: space-between;
		width: 50%;
		padding: 2%;
		margin: 1%;
		font-size: 2rem;

		a {
		}
	}
}
